[Unit]
Description=Service that is used to receive the start signal for the pren project
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.5 -u /home/pi/pren/prenNetworkConnection/App.py &

[Install]
WantedBy=default.target