[Unit]
Description=Service that is used to receive the start signal for the pren project
Requires=network-online.target

[Service]
Type=simple
ExecStart=cd /home/pi/pren/prenNetworkConnection; /usr/bin/python3.5 -u ./App.py &

[Install]
WantedBy=default.target