[Unit]
Description=Service that is used to receive the start signal for the pren project

[Service]
Type=simple
ExecStart=/usr/bin/python3.5 -u /home/jerry/Downloads/prenNetworkConnection/prenNetworkConnection/App.py &

[Install]
WantedBy=multi-user.target